<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
<style> @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); </style>
<nav class="navbar" style="background-color:rgb(75, 75, 75); ">
  <div class="container-fluid">
    <a class="navbar-brand" style="color:white; font-family: 'Montserrat', sans-serif;"
      >Daily Insurance App</a
    >
    <form class="d-flex">
      <button class="btn btn-secondary" type="button" [routerLink]="['/login']">
        Sign In
      </button>
    </form>
  </div>
</nav>
  <div id="home" class="bg-container">
    <br />
    <br />
    <div class="home">
      <h1>When the predictions fail, we protect your Future! </h1>      
    </div>
    <br />
  </div>
